[submodule "keyboardio-kicad-libraries"]
	path = keyboardio-kicad-libraries
	url = https://github.com/keyboardio/keyboardio-kicad-libraries.git
[submodule "qmk_hardware"]
	path = qmk_hardware
	url = https://github.com/qmk/qmk_hardware.git
[submodule "keebio-components"]
	path = keebio-components
	url = https://github.com/keebio/keebio-components.git
[submodule "Keebio-Parts.pretty"]
	path = Keebio-Parts.pretty
	url = https://github.com/keebio/Keebio-Parts.pretty.git
